@import './styles/main.scss';
/* @import './base.css'; */
/* 
#app {
  max-width: auto !important;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    background-color: lightblue;
    /* place-items: center; */
/* } */
/* } */
